

p {
    color: rgb(31, 40, 172);
    background-color: (pink);
    font-size: 15px;
    padding: 10px;
}
#sonya{
    display: block;
    color: rgb(31, 40, 172);
    background-color: (rgb(186, 46, 69));
    font-size: 25px;
    padding: 20px;
    border: #647eb7;
}
.lalala {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   border: 5px solid darkblue;
   padding: 10px;
}
.cof {
    width:  200px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid darkblue;
}
.pppp {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   border: 5px solid darkblue;
}
#ffff {
   background: rgba(122, 176, 202, 0.8);
   background: linear-gradient(rgb(228, 233, 233),pink,rgb(62, 125, 150));
}
#sof {
    background-color:rgb(176, 200, 216); 
}
#kn{
    font-size: 25px;
   font-weight: bold;
   text-align: center;
   background: linear-gradient(to right, #81C3DE,#568FB3,#3948B8);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
   display: block;
   text-align: center; 
}
a{
    text-decoration:solid;
}
ul{
    list-style-type: circle;
}
ol{
    list-style-type: upper-roman;
}
ul li::marker{
    content: "✨";
    color: gold;
    font-size: 1.2em;
}
body{
    background-image: url("../images/pig");
    text-overflow: ellipsis;
    width: 550px;
}
p{
    overflow-wrap: break-word;
    hyphens: auto;
    text-overflow: ellipsis;
    width: 250px;
     text-align: center; 
}
.zitats1{
   font-size: 25px;
   padding: 10px;
   display: block;
}
.tarakani{
    width:  400px;
    border-radius: 15px;
    border: 2px solid peachpuff;
    border-radius: 10px;
    display:  inline;
}
.yxod{
    width:  300px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid peachpuff;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    display:  inline-block;
}

.header__menu {
    color: rgb(18, 16, 16);
}

.header__menu-link{
    display: inline-block;
    background: #647eb7;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius: 40px;
    font-weight: bold;
    transition: background 0.3s;
}

.box{
    margin: 10px;
    background: lightblue;
    border: 2px solid green;

    position: relative;
    top: 20px;
    left: 110px;
}

h1{
    display: inline-block;
   text-align: center; 
}

.knopka{
  font-size: 35px;
  background: linear-gradient(#B1D2E6,#DE7CA5,#B33292);
  color: antiquewhite;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;

}
.knopka:hover{
    background:rgb(146, 115, 232);
}
.knop{
   text-align: center; 
   margin-top: 110px;
}

.row{
    display: flex; gap: 12px;
    position: relative;
}
.box{
    width: 80px;
    height: 80px;
    background: #DE7CA5; 
    border: 2px solid #B33292;
}
.abs{
    position: absolute; 
    top: 0;
}

.parent{
    width: 185px;
    height: 75px;
    position: relative;
    background: lightblue;
    margin-top: 40px;
}
.child{
    position: absolute;
    bottom: 0;
    right: 0;
    background: coral;
}

.card{
    position: relative;
    width: 260px;
    padding: 16px;
    background: #647eb7;
    border: 2px solid #568FB3;
    border-radius: 10px;
}

.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #71a9cc;
    color: burlywood;
    padding: 4px 8px;
    border-radius: 9999px;
}

.scroll-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #B1D2E6;
    color: antiquewhite;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.flexcontainer{
    flex-direction: column;
    display: flex;
    border: #81C3DE;
    padding: 10px;
    gap: 10px; /*расстояние между карточками*/
}

.item{
    background: #e7b6ca;
    border: 1px solid rgb(173, 173, 226);
    padding: 20px;
    font-size: 20px;
    flex-basis: 20%;
}

.container{
    display: flex;
    gap: 10px; /*расстояние между карточками*/
}

.item1{
    flex: 1 1 80px;
    padding: 20px;
    background: #e7b6ca;
    border: 1px solid rgb(173, 173, 226);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
}

.special{
    order: -1;
    background: #e7b6ca;
}

.products{
    display: flex;
    gap: 20px;
}

.card{
    flex: 1 1 150px;
    background: lightsteelblue;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.big{
    flex-grow: 5;
    align-self: flex-end;
    background: rgb(107, 145, 194);
}